.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-container {
  background: white;
  padding: 20px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(41, 11, 11, 0.3);
  width: 80%;
  max-height: 400px;
  max-width: 400px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.popup-btn {
  padding: 0 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.popup-btn.login {
  height: 60px;
  background-color: rgb(226, 91, 114);
}

.popup-btn.login:hover {
  background-color: rgb(210, 70, 100);
}

.popup-btn.register {
  height: 60px;
  background-color: rgb(247, 118, 198);
}

.popup-btn.register:hover {
  background-color: rgb(219, 131, 146);
}

@media (max-width: 768px){
  .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

}
