
body{
  overflow-x: hidden;
}

/*.............. Navbar............... */
.navbar {
  width: 100vw;
  padding: 13px 0;
  z-index: 1000;
  position: fixed;
  background: rgb(180, 113, 32);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}


.nav-right {
  display: flex;
  align-items: center;
  margin-right: 150px;
  padding: 20px 10px;
  gap: 40px;
}
  
.logo{
  font-size: 25px;
  margin-left: 80px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.navbar a:hover{
  color: wheat;
}




.auth-btn {
  margin-left: 15px;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  background-color: peachpuff;
  font-weight: 500;
  cursor: pointer;
}

.logout-btn {
  background-color: peachpuff;
  color: darkred;
}
.logout-btn:hover {
  background-color: rgb(226, 186, 138);
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  animation: popupFade 0.3s ease;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-no {
  background: #7a7979;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-yes {
  background: #bf6262;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes popupFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



/*.................. home.................... */
 /* .home{
  margin: 0 0;
  
} */

.home-hero {
  height: 80vh;
  background-image: url("https://images.pexels.com/photos/6146655/pexels-photo-6146655.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 0;
}

/* dark overlay */
.home-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}


 .blurred {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
} 

.text-overlay{
  position: absolute;
  z-index: 4;
  top: 40%;         
  left: 50%;  
  text-shadow: 3px 3px rgb(39, 38, 38);      
  transform: translate(-50%, -50%);
  color: rgb(229, 191, 135);
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.about-section {
  padding: 60px 80px;
  background: linear-gradient(135deg, #fbe7d3, #f9d9b7);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.about-content {
  max-width: 500px;
}

.about-content h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.about-content h1 span {
  font-style: italic;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
}

.about-btn {
  padding: 12px 30px;
  background-color:rgb(127, 79, 20) ;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.about-btn:hover {
  color: #fff;
  background-color: rgb(161, 114, 56);
}

.about-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50px;
}

.course{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  color: rgb(112, 66, 20);
}

.highlights{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  gap: 30px;
}

.card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  width: 280px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .image{
  height: 300px;
  object-fit: cover;
}



/*............... About page.............. */

.banner h3{
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.banner img{
  width: 100vw;
  height: 245px;
  object-fit: cover;
  position: relative;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin-top: 12px;
  padding: 40px 60px;
}
.content h2{
  font-size: 32px;
  font-weight: bold;
  color: brown;
  
}
.content p{
  font-size: 16px;
  margin-top: 12px;
  line-height:1.7;  
  text-align: justify;
  color: black;
}
.grid2 img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.more-info{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 40px;
}
.sub{
  background-color: peachpuff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin: 10px 20px;
}
.sub h3{
  padding: 10px 0 ;
}
.sub p{
  font-size: 15px;
  text-align: justify;
  line-height: 1.7;

}

/* ............................................... */
.crafts-container {
  display: flex;
  min-height: 80vh;
  padding: 20px;
  gap: 20px;
}

.crafts-sidebar {
  width: 220px;
  background: wheat;
  padding: 20px;
  border-radius: 10px;
}

.crafts-sidebar h3 {
  margin-bottom: 20px;
}

.crafts-sidebar ul {
  list-style: none;
  padding: 0;
}

.crafts-sidebar li {
  margin-bottom: 10px;
}

.crafts-sidebar a {
  text-decoration: none;
  color: #202020;
  font-weight: 500;
}

.crafts-sidebar a:hover {
  color: brown;
}

.crafts-content {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}




/*.............. Findcraft.............. */

.findcraft-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.findcraft-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.findcraft-subtitle {
  color: #555;
  margin-bottom: 20px;
}

.upload-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.upload-btn {
  padding: 12px 18px;
  border-radius: 8px;
  background: #1f2937;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.upload-btn:hover {
  background: #374151;
}

.preview-box {
  margin-bottom: 20px;
}

.preview-img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.find-btn {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.find-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.results {
  margin-top: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}



/*............... Footer................. */
.footer {
  background-color:rgb(180, 113, 32) ;
  color: #f5f5f5;
  padding: 50px 80px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-brand h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  color: #e6e4e4;
}

.footer-links h4,
.footer-social h4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: peachpuff;
  
}

.footer-links {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding-left: 10px;
}

.footer-links p:hover {
  color: #fff;
}

.footer-social .social-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.footer-social .social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.footer-social .social-icons svg:hover {
  color: #f9b17a;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #dcdada;
  border-top: 1px solid #444;
  padding-top: 15px;
}

/* Responsive */
@media (max-width: 900px) {
  .footer {
    padding: 40px 30px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social .social-icons {
    justify-content: center;
  }
}
